.course-content__container {
  /* background-color: #F7B3CC; */
  width: 100%;
  height: auto;
  color: #ffffff;
  overflow-x: auto;
  scrollbar-width: none;

}

@keyframes slideRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.horizontal-scroll-container {
  /* Agrega una transición suave al cambiar la propiedad transform */
  transition: transform 0.5s cubic-bezier(0, 0, 0.2, 1);
}

.animate-slide-right {
  /* Aplica la animación a la clase deseada */
  animation: slideRight 0.5s cubic-bezier(0.2, 0.4, 0.9, 1);
  ;
}



@media (max-width: 778px) {
  .course-content__container {
    flex-wrap: wrap;
  }
}