.course-content__container-unit1 {
  background-color: #F7B3CC;
  width: 100%;
  height: 600px;
  color: #ffffff;
  display: grid;
  grid-template-columns: 50% 40% 10%;
}

.course-content__content-unit1 {
  padding: 10% 10% 10% 20%;
}

.course-content__icon-choco {
  margin-top: 4%;
  margin-bottom: 2%;
  width: 9%;
  background-color: #ffffff;
  border-radius: 3rem;
}

.course-content__title {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: clamp(18px, 4vw, 30px);
}

.course-content__unit {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: clamp(16px, 4vw, 28px);
  color: #A93E65;
}

.course-content__introduction {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: clamp(22px, 4vw, 42px);
}


.course-content__list-modules {
  padding-top: 5%;
}

.course-content__module {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: clamp(10px, 4vw, 20px);
}

.course-content__show {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.course-content__show-image {
  align-items: end;
  margin: 0 auto;
  width: 90%;
  flex-wrap: wrap;
}

.course-content__next {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4%;
}

.course-content__next-image {
  width: 20%;
}


@media (max-width: 1278px) {
  .course-content__show-image {
    align-items: end;
    margin: 0 auto;
    padding: 15px;
    width: 80%;
  }
}

@media (max-width: 778px) {
  .course-content__container-unit1 {
    flex-wrap: wrap;
    display: flex;
    height: auto;
    margin: 0 auto;
    align-items: center;
    border-radius: 1rem;
    width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 18px rgba(0, 0, 0, 0.08); /* Agrega una sombra suave */
  }

  .course-content__content-unit1 {
    padding: 4% 4% 2% 4%;
  }
  .course-content__next {
    display: none;
  }
}



@media (max-width: 578px) {
  .course-content__container {
    flex-wrap: wrap;
  }

  .course-content__show {
    padding: 2% 0% 3% 0%;
  }

  .course-content__next {
    display: none;
  }


}

@media (min-width: 1550px) {
  .course-content__container {
    justify-content: flex-start;
    padding: 3%;
  }

  .course-content__content {
    padding: 6% 0% 6% 9%;
  }

  .course-content__icon-choco {
    width: 7%;
  }

  .course-content__title {
    font-size: clamp(18px, 4vw, 38px);
  }

  .course-content__unit {
    font-size: clamp(16px, 4vw, 32px);
  }

  .course-content__introduction {
    font-size: clamp(22px, 4vw, 48px);
  }

  .course-content__module {
    font-size: clamp(10px, 4vw, 26px);
  }

  .course-content__show {
    width: 80%;
  }
}