.course-content__container-unit2 {
  background-color: #8DAEF5;
  width: 100%;
  height: 600px;
  color: #ffffff;
  display: grid;
  grid-template-columns: 45% 45% 10%;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 80px; */
}

.course-content__content-unit2 {
  padding: 10% 0% 10% 20%;
}

.course-content__icon-choco2 {
  margin-top: 4%;
  margin-bottom: 2%;
  width: 9%;
  background-color: #ffffff;
  border-radius: 3rem;
}

.course-content__title2 {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #2558D5;
  font-size: clamp(18px, 4vw, 30px);
}

.course-content__unit2 {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: clamp(16px, 4vw, 28px);
  color: #2558D5;
}

.course-content__introduction2 {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: #FAF6F0;
  font-size: clamp(22px, 4vw, 42px);
}


.course-content__list-modules2 {
  padding-top: 5%;
}

.course-content__module2 {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #FAF6F0;
  font-size: clamp(10px, 4vw, 20px);
}

.course-content__show2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.course-content__show-image2 {
  align-items: end;
  margin: 0 auto;
  width: 100%;
  flex-wrap: wrap;
}

.course-content__next2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4%;
}

.course-content__next-image2 {
  width: 20%;
}


@media (max-width: 1278px) {
  .course-content__show-image2 {
    align-items: end;
    margin: 0 auto;
  }
}

@media (max-width: 778px) {
  .course-content__container-unit2 {
    flex-wrap: wrap;
  }
}



@media (max-width: 578px) {
  .course-content__container2 {
    flex-wrap: wrap;
  }

  .course-content__show2 {
    padding: 2% 0% 3% 0%;
  }

  .course-content__next2 {
    display: none;
  }


}

@media (min-width: 1550px) {
  .course-content__container2 {
    justify-content: flex-start;
    padding: 3%;
  }

  .course-content__content2 {
    padding: 6% 0% 6% 9%;
  }

  .course-content__icon-choco2 {
    width: 7%;
  }

  .course-content__title2 {
    font-size: clamp(18px, 4vw, 38px);
  }

  .course-content__unit2 {
    font-size: clamp(16px, 4vw, 32px);
  }

  .course-content__introduction2 {
    font-size: clamp(22px, 4vw, 48px);
  }

  .course-content__module2 {
    font-size: clamp(10px, 4vw, 26px);
  }

  .course-content__show2 {
    width: 80%;
  }
}