.recetas-cards__container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 156vh; /* Reducimos la altura máxima para que no desborde */
  width: 100%;
  overflow: auto;
}

.recetas-cards__content {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  position: static;
  width: 46%;
  overflow: auto;
  z-index: 100;
}

.recetas-cards__border {
  border-radius: 10px;
  border: 2px solid #f7b3cc8f;
  padding: 20px;
  min-height: 100%;
}

.recetas-cards__title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 1px 0 15px 0;
}

.cards-title__icon {
  max-width: 5%;
}

.cards-title__h1 {
  font-size: 34px;
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
  color: #F7B3CC;
  text-align: center;
  padding: 2px;
}

.cards__receta-image {
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.recetas-cards__line {
  width: 92%;
  margin: 0 auto;
  border: 0.7px solid #f7b3cc8f;
}

.recipes-ingredients__container {
  padding-top: 20px;
  margin: 0 auto;
  width: 90%;
}

.recipes-ingredients__wrapper1 {
  margin-bottom: 20px;
  margin: 0 auto;
}

.recipes-ingredients__wrapper1 h4 {
  margin-bottom: 10px;
}

.ingredients__list {
  padding-left: 0;
}

.recipes-ingredients__wrapper1 li {
  margin-bottom: 5px;
  list-style-type:circle color(#c81010);

}
.ingredients__title{
  color: #2558D5;
}

@media only screen and (max-width: 1268px) {
  .recetas-cards__content {
    top: 4%;
    width: 36%; /* Ajustamos el ancho en dispositivos más pequeños */
    max-height: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .recetas-cards__content {
    top: 7%;
    width: 24%;
    max-height: 78%;

  }
}


