.email-input__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 55px;
}


.btn {
  border: none;
  width: 14rem;
  height: 3rem;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #ffb6b6;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.sparkle {
  fill: var(--color-primary);
  transition: all 800ms ease;
}

.text {
  font-weight: 600;
  color: #ffffff;
  font-size: medium;
}

.btn:hover {
  background: linear-gradient(0deg, var(--color-secondary), var(--color-primary));
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 90px 0px var(--color-borders);
  transform: translateY(-2px);
}

.btn:hover .text {
  color: white;
}

.btn:hover .sparkle {
  fill: white;
  transform: scale(1.2);
}

.coolinput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  max-width: 240px;
}

.coolinput label.text {
  font-size: 0.75rem;
  color: var(--color-primary);
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: var(--color-background);
  width: fit-content;
}

.coolinput input[type=email].input {
  padding: 11px 10px;
  color: var(--color-primary);
  font-size: 0.85rem;
  border: 2px var(--color-secondary) solid;
  border-radius: 5px;
  background: #e8e8e8;
  width: 15rem;
}

.coolinput input[type=email].input:focus {
  outline: none;
}

.form-style {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.send-button {
  background-color: #e8e8e8;
  border: var(--color-secondary) solid 2px;
  color: var(--color-primary);
  padding: 10px;
  font-weight: 700;
  border-radius: 2px;
  position: relative;
  top: 9px;
  border-radius: 5px;
  font-size: 14px;
}

.success-message {
  color: #F3A632;
  font-weight: 500;
  text-shadow: rgb(255, 255, 255) 0.02em 0.02em 0.03em
}

.error-message {
  color: var(--color-primary);
  font-weight: 600;
  text-shadow: rgb(255, 255, 255) 0.02em 0.02em 0.03em
}

@media (max-width: 768px) {
  .form-style {
    flex-direction: column;
  }

  .coolinput {
    max-width: 100%;
  }
}


/* Loader */
/* spinner */
.spinner__loader {
  width: 3rem;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
  position: relative;
  top: 0.5rem;
 }
 
 .loader__circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
 }
 
 @keyframes rotate4 {
  100% {
   transform: rotate(360deg);
  }
 }
 
 @keyframes dash4 {
  0% {
   stroke-dasharray: 1, 200;
   stroke-dashoffset: 0;
  }
 
  50% {
   stroke-dasharray: 90, 200;
   stroke-dashoffset: -35px;
  }
 
  100% {
   stroke-dashoffset: -125px;
  }
 }
 