.App {
  text-align: center;
  overflow: hidden;
}

.App-header {
  background-color: #F3E7D7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header__background {
  background-image: url('../../assets/images/chocolate.png');
  background-repeat: no-repeat;
  /* Evita que la imagen de fondo se repita */
  background-position: right;
  /* Centra la imagen de fondo */
  background-size: contain;
  height: 100vh;
  width: 100%;
}

@media (max-width: 900px) {
  .header__background {
    background-position: bottom;
  }

}

@media (max-width: 470px) {
  .header__background {
    width: 60rem;
    position: relative;
    bottom: 38px;
  }
}



.header__container-text {
  height: 100%;
  padding-top: 8%;
}

@media (max-width: 470px) {
  .header__container-text {
    padding-top: 40%;

    position: relative;
    left: 38%;
    bottom: 30%;
    width: min-content;
  }
}

.header__title {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 6rem;
  color: #F47153;
  text-shadow: rgb(255, 255, 255) 0.02em 0.02em 0.03em
}

@media (max-width: 768px) {
  h1.header__title {
    line-height: 100%;
    letter-spacing: 1px;
  }

}

.header__h6 {
  margin-bottom: 5rem;
  margin-top: 1rem;
  color: #F3A632;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
}

@media (max-width: 768px) {
  .header__h6 {
    font-size: 1.2rem;
  }

}

.header__prox {
  font-size: 1.75rem;
  color: #F3A632;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.3rem;
}

@media (max-width: 768px) {
  .header__prox {
    font-size: 1.4rem;
  }

}