.course-content__container-unit3 {
  background-color: #FAF6F0;
  width: 100%;
  height: 600px;
  color: #ffffff;
  display: grid;
  grid-template-columns: 50% 40% 10%;
  margin-top: 25px;
}

.course-content__content-unit3 {
  padding: 10% 10% 10% 20%;
}

.course-content__icon-choco3 {
  margin-top: 4%;
  margin-bottom: 2%;
  width: 9%;
  background-color: #ffffff;
  border-radius: 3rem;
}

.course-content__title3 {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #2558D5;
  font-size: clamp(18px, 4vw, 30px);
}

.course-content__unit3 {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: clamp(16px, 4vw, 28px);
  color: #2558D5;
}

.course-content__introduction3 {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: #F7B3CC;
  font-size: clamp(22px, 4vw, 42px);
}


.course-content__list-modules3 {
  padding-top: 5%;
}

.course-content__module3 {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #8DAEF5;
  font-size: clamp(10px, 4vw, 20px);
}

.course-content__show3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.course-content__show-image3 {
  align-items: end;
  margin: 0 auto;
  /* width: 90%; */
  flex-wrap: wrap;
}

.course-content__next3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4%;
}

.course-content__next-image3 {
  width: 20%;
  cursor: pointer;
  animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-5px);
  }
}


@media (max-width: 1278px) {
  .course-content__show-image3 {
    align-items: end;
    margin: 0 auto;
    padding: 20px;
  }
}

@media (max-width: 778px) {
  .course-content__container-unit3 {
    flex-wrap: wrap;
    display: flex;
    height: auto;
    margin: 0 auto;
    align-items: center;
    border-radius: 1rem;
    width: 90%;
    margin-top: 25px;
    transition: .3s ease-in-out;
  }

  .course-content__container-unit3:hover {
    transform: translateX(-1%);
    box-shadow: 14px -3px 20px 0px rgb(0 0 0 / 22%), 0 6px 18px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.12);
  }

  .course-content__content-unit3 {
    padding: 4% 4% 2% 4%;
  }

  .course-content__next3 {
    display: none;
  }
}


@media (max-width: 578px) {
  .course-content__container3 {
    flex-wrap: wrap;
  }

  .course-content__show3 {
    padding: 2% 0% 3% 0%;
  }

  .course-content__next3 {
    display: none;
  }


}

@media (min-width: 1550px) {
  .course-content__container3 {
    justify-content: flex-start;
    padding: 3%;
  }

  .course-content__content3 {
    padding: 6% 0% 6% 9%;
  }

  .course-content__icon-choco3 {
    width: 7%;
  }

  .course-content__title3 {
    font-size: clamp(18px, 4vw, 38px);
  }

  .course-content__unit3 {
    font-size: clamp(16px, 4vw, 32px);
  }

  .course-content__introduction3 {
    font-size: clamp(22px, 4vw, 48px);
  }

  .course-content__module3 {
    font-size: clamp(10px, 4vw, 26px);
  }

  .course-content__show3 {
    width: 80%;
  }
}