.App {
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url('../../assets/images/mask-back.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(37, 87, 213, 1);
  /* Color negro con opacidad del 50% */
  background-blend-mode: darken;
}

@media (max-width: 900px) {
  .header__background {
    background-position: bottom;
  }

}

@media (max-width: 470px) {
  .header__background {
    width: 60rem;
    height: 100vh;
  }
}



.header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

@media (max-width: 470px) {
  .header__container {
    margin-top: 10%;
  }
}


/* desde 470 a 768 width */
.background__logo {
  width: 181px;
  height: 181px;
  background-color: #F3E7D7;
  border-radius: 50%;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.header__logo {
  width: 60%;
  z-index: 2;
  /* filter: drop-shadow(1px 1px 1px var(--color-background)); */
}

@media (max-width: 470px) {
  .header__logo {
    width: 30%;
  }
}

.header__h6 {
  color: #BBCFF9;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
  letter-spacing: 0.35rem;
}

@media (max-width: 768px) {
  .header__h6 {
    font-size: 0.95rem;
    /* text-shadow: rgb(255, 255, 255) 0.02em 0.02em 0.03em */
  }

}

.header__prox {
  font-size: 1.1rem;
  color: #8DAEF5;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.25rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .header__prox {
    font-size: 0.9rem;
  }

}